header{
    height:100px;
    background-color: blue;
    background-position: center;
    background-image: url(https://images.pexels.com/photos/11160121/pexels-photo-11160121.jpeg?auto=compress&cs=tinysrgb&w=800);



}
nav{
    height: 100px;
    background-color: aqua;
    
}

ul{
    display: inline-block;
    
}


section{
    height: 200px;
    width: 50%;
    background-color: plum;
    background-image: url(https://ih1.redbubble.net/image.3032231822.6045/st,small,845x845-pad,1000x1000,f8f8f8.jpg);
    background-position: center;
    background-size: cover;
    border: double;
    
    
    
    
    
}
article{
    
    height: 200px;;
    width: 50%;
    background-color: pink;
    font-size: large; 
    border: dotted;

    

}

p{
    font-style: italic; 
    font-size: small;
    text-align: center;
}


aside{
    float: right;
    height: 300px;
    width: 49%;
    background-color: hotpink;
    border: double;
    
}

footer{
    height: 100px;
    width: 500px;
    background-color: palevioletred;
    padding: 10px;
}