header{
    height:100px;
    background-color: burlywood;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvqkmWbb1jaEQAQ8kCiAnLcm8fkDvoNlsoLg&usqp=CAU);
    background-position: center;
    font: bold; 
    font-size: large;
    }
